@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --blue1: #287bff;
    --grey1: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --white: #fff;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container,
.container-fluid{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue1);
    border-left: 10px solid var(--blue1);
    transition: 0.5s;
    overflow: hidden;
    z-index: 100;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
    color: var(--blue1);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue1);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon i{
    font-size: 1.5em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* Topbar */
#nav-admin{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
#nav-admin.active{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.search{
    position: relative;
    width: 400px;
    padding: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label i{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
}
.nav-link{
    color: var(--black1);
    text-decoration: none;
}
.nav-link:hover{
    color: var(--blue1);
}
.dropdown-item:hover{
    background: var(--blue1);
    color: var(--white);
}

/* content */
#wrapper{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    transition: 0.5s;
    margin-top: 60px;
}
#wrapper.active{
    width: calc(100% - 80px);
    left: 80px;
}
.cardsBox{
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardsBox .cards{
    position: relative;
    background: var(--white);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardsBox .cards .value{
    position: relative;
    font-weight: 600;
    font-size: 1.8em;
    color: var(--blue1);
}
.cardsBox .cards .value-name{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardsBox .cards .icon-card{
    font-size: 3.5em;
    color: var(--black2);
}
.cardsBox .cards:hover{
    background: var(--blue1);
}
.cardsBox .cards:hover .value,
.cardsBox .cards:hover .value-name,
.cardsBox .cards:hover .icon-card
{
    color: var(--white);
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}
.details .order{
    position: relative;
    display: grid;
    min-height: 400px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--blue1);
}
.details .cardHeader a:hover{
    text-decoration: none;
    color: var(--white);
}
.buttons{
    position: relative;
    padding: 5px 10px;
    background: var(--blue1);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .order table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .order table tr:last-child{
    border-bottom: none;
}
.details .order table tbody tr:hover{
    color: var(--white);
    background: var(--blue1);
}
.details .order table tr td{
    padding: 10px;
}
.details .order table tr td:last-child{
    text-align: end;
}
.details .order table tr td:nth-child(2){
    text-align: end;
}
.details .order table tr td:nth-child(3){
    text-align: center;
}
.status{
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}
.status.in.Progress{
    background: rgb(252, 248, 44);
    color: var(--black1);
}
.status.Paid{
    background: rgb(82, 231, 82);
    color: var(--black1);
}
.status.Packing{
    background: rgb(82, 231, 199);
    color: var(--black1);
}
.status.Delivered{
    background: rgb(82, 109, 231);
    color: var(--white);
}
.status.Success{
    background: rgb(231, 82, 82);
    color: var(--white);
}
.customers{
    position: relative;
    display: grid;
    min-height: 300px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.customers .imgBox{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.customers .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.customers table tr:hover{
    background-color: var(--blue1);
    color: var(--white);
}
.customers table tr td{
    padding: 12px 10px;
}
.customers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.customers table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}
.customers table tr:hover td h4 span{
    color: var(--white);
}
#t-order th,
#t-order td{
    white-space: nowrap;
}
.cards_message{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.coment{
    position: relative;
    width: 100%;
    padding: 20px;
}
.cards_message .cards,
.coment .cards{
    position: relative;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
#detail_message .cards_message .cards .value,
.coment .cards .value{
    position: relative;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--blue1);
    margin-top: 25px;
}
.cards_message .cards .value-name,
.coment .cards .value-name{
    color: var(--black2);
    font-size: 1.1em;
}
.cards_message .cards:hover,
.coment .cards:hover{
    background: var(--blue1);
}
#detail_message .cards_message .cards .icon-card,
.coment .cards .icon-card {
    font-size: 5.5em;
    color: var(--black2);
}
#detail_message .cards_message .cards:hover .value,
#detail_message .cards_message .cards:hover .value-name,
#detail_message .cards_message .cards:hover .icon-card,
.coment .cards:hover .value,
.coment .cards:hover .value-name,
.coment .cards:hover .icon-card
{
    color: var(--white);
}
#t-user .imgBox{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
#t-user .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media(max-width: 991px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    #nav-admin{
        width: 100%;
        left: 0;
    }
    #nav-admin.active{
        width: calc(100% - 300px);
        left: 300px;
    }
    #wrapper{
        width: 100%;
        left: 0;
    }
    #wrapper.active{
        width: calc(100% - 300px);
        left: 300px;
    }
    .cardsBox{
        grid-template-columns: repeat(2,1fr);
    }
    #wrapper.active .details{
        grid-template-columns: repeat(1,1fr);
    }
    .order{
        overflow-x: auto;
    }
    .details .order table tr td{
        white-space: nowrap;
    }
    #t-produk .card-body,
    #t-produk table tr th,
    #t-produk table tr td{
        white-space: nowrap;
        overflow-x: auto;
    }
    #form-insert label{
        white-space: nowrap;
        width: 100%;
    }
    #form-insert .form-group .card{
        position: relative;
        margin-left: 50px;
        width: 80px;
        height: 85px;
    }
    #form-insert .form-group .card img{
        position: absolute;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
        width: 80px;
    }
    #t-user .card,
    #t-user table tr th,
    #t-user table tr td{
        white-space: nowrap;
        overflow-x: auto;
        width: 100%;
    }
    #t-edit-user label{
        white-space: nowrap;
    }
    #t-edit-user .form-control,
    #t-edit-user .form-check-label{
        margin-left: 20px;
    }
    #t-edit-user .form-check-input{
        margin-left: 0;
    }
    #t-order .card,
    #t-order table tr th,
    #t-order table tr td{
        white-space: nowrap;
        overflow-x: auto;
        width: 100%;
    }
    #t-detail-order label{
        white-space: nowrap;
    }
    #t-detail-order .form-control{
        margin-left: 40px;
        width: calc(100% - 50px);
    }
}
@media (max-width:768px){
    .navigation.active{
        width: 80px;
    }
    #nav-admin.active{
        width: calc(100% - 80px);
        left: 80px;
    }
    #wrapper.active{
        width: calc(100% - 80px);
        left: 80px;
    }
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .order{
        overflow-x: auto;
    }
    .details .order table tr td{
        white-space: nowrap;
    }    
}
@media (max-width:480px){
    .cardsBox{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    #nav-admin.active{
        left: 300px;
    }
    #nav-admin.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        z-index: 1000;
        color: var(--white);
    }
}